In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [6]:
# load data

data = pd.read_csv('../data/processed/data_2019_preprocessed.csv')
variables = pd.read_csv('../data/processed/data_2019_vars.csv')

data.head()

,q01_happy,q02_satisfied_general,q03_satisfied_somerville,q04_satisfied_neighborhood,q06a_city_services,q06b_cost_housing,q06c_quality_schools,q06d_trust_police,q06e_sidewalks,q06f_events,...,d01_gender_Male,d01_gender_No Answer,d01_gender_Non-binary,d06_housing_status_Other,d06_housing_status_Own,d06_housing_status_Rent,q05_city_direction_no_answer,q05_city_direction_right,q05_city_direction_unsure,q05_city_direction_wrong
0,10.0,10.0,10.0,10.0,5.0,4.0,4.0,5.0,4.0,4.0,...,0,0,0,0,1,0,0,1,0,0
1,7.0,7.0,9.0,8.0,4.0,2.0,NaN,4.0,3.0,5.0,...,0,0,0,0,1,0,0,0,1,0
2,9.0,9.0,1.0,1.0,4.0,1.0,4.0,2.0,1.0,3.0,...,1,0,0,0,1,0,0,0,0,1
3,10.0,9.0,9.0,8.0,5.0,5.0,5.0,5.0,3.0,4.0,...,1,0,0,0,1,0,0,1,0,0
4,8.0,8.0,7.0,7.0,5.0,3.0,4.0,5.0,1.0,4.0,...,0,0,0,0,1,0,0,0,1,0

In [13]:
# define target and base features

features = variables[variables['is_feature']==1]['var'].values

target = 'd07_plan_to_move'

data.dropna(subset=target, inplace=True)

In [15]:
data.groupby(target).count()

,q01_happy,q02_satisfied_general,q03_satisfied_somerville,q04_satisfied_neighborhood,q06a_city_services,q06b_cost_housing,q06c_quality_schools,q06d_trust_police,q06e_sidewalks,q06f_events,...,d01_gender_Male,d01_gender_No Answer,d01_gender_Non-binary,d06_housing_status_Other,d06_housing_status_Own,d06_housing_status_Rent,q05_city_direction_no_answer,q05_city_direction_right,q05_city_direction_unsure,q05_city_direction_wrong
d07_plan_to_move,,,,,,,,,,,,,,,,,,,,,
0.0,952,951,955,955,950,948,770,936,955,941,...,967,967,967,967,967,967,967,967,967,967
1.0,425,424,426,426,428,428,313,412,427,419,...,430,430,430,430,430,430,430,430,430,430

In [3]:
# test-train split

In [10]:
data.groupby('d07_plan_to_move').count()

,id,q01_happy,q02_satisfied_general,q03_satisfied_somerville,q04_satisfied_neighborhood,q06a_city_services,q06b_cost_housing,q06c_quality_schools,q06d_trust_police,q06e_sidewalks,...,d01_gender_Male,d01_gender_No Answer,d01_gender_Non-binary,d06_housing_status_Other,d06_housing_status_Own,d06_housing_status_Rent,q05_city_direction_no_answer,q05_city_direction_right,q05_city_direction_unsure,q05_city_direction_wrong
d07_plan_to_move,,,,,,,,,,,,,,,,,,,,,
0.0,967,952,951,955,955,950,948,770,936,955,...,967,967,967,967,967,967,967,967,967,967
1.0,430,425,424,426,426,428,428,313,412,427,...,430,430,430,430,430,430,430,430,430,430