In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [5]:
# load data

data = pd.read_csv('../data/processed/data_2019_preprocessed.csv')

data.head()

,id,q01_happy,q02_satisfied_general,q03_satisfied_somerville,q04_satisfied_neighborhood,q06a_city_services,q06b_cost_housing,q06c_quality_schools,q06d_trust_police,q06e_sidewalks,...,d01_gender_Male,d01_gender_No Answer,d01_gender_Non-binary,d06_housing_status_Other,d06_housing_status_Own,d06_housing_status_Rent,q05_city_direction_no_answer,q05_city_direction_right,q05_city_direction_unsure,q05_city_direction_wrong
0,7391,10.0,10.0,10.0,10.0,5.0,4.0,4.0,5.0,4.0,...,0,0,0,0,1,0,0,1,0,0
1,7392,7.0,7.0,9.0,8.0,4.0,2.0,NaN,4.0,3.0,...,0,0,0,0,1,0,0,0,1,0
2,7393,9.0,9.0,1.0,1.0,4.0,1.0,4.0,2.0,1.0,...,1,0,0,0,1,0,0,0,0,1
3,7394,10.0,9.0,9.0,8.0,5.0,5.0,5.0,5.0,3.0,...,1,0,0,0,1,0,0,1,0,0
4,7395,8.0,8.0,7.0,7.0,5.0,3.0,4.0,5.0,1.0,...,0,0,0,0,1,0,0,0,1,0

In [6]:
# define target and base features

for c in data.columns:
    print(c)

id
q01_happy
q02_satisfied_general
q03_satisfied_somerville
q04_satisfied_neighborhood
q06a_city_services
q06b_cost_housing
q06c_quality_schools
q06d_trust_police
q06e_sidewalks
q06f_events
q09_safe_at_night
q11_beauty
q10_parks
d02_age
d05_num_children
d07_plan_to_move
d08_hhi
d09_is_student
ward
q07_safe_crossing_street
q08_convenient
q12_housing_condition
d11_car
d11_walk
d11_bike
d11_public
d12_car
d12_walk
d12_bike
d12_public
d03_english
d03_spanish
d03_portuguese
d03_chinese
d03_other
d04_eth_hispanic
d04_eth_brazilian
d04_race_white
d04_race_aa
d04_race_asian
d04_race_other
d10_bins
d01_gender_Female
d01_gender_Male
d01_gender_No Answer
d01_gender_Non-binary
d06_housing_status_Other
d06_housing_status_Own
d06_housing_status_Rent
q05_city_direction_no_answer
q05_city_direction_right
q05_city_direction_unsure
q05_city_direction_wrong

In [3]:
# test-train split

In [10]:
data.groupby('d07_plan_to_move').count()

,id,q01_happy,q02_satisfied_general,q03_satisfied_somerville,q04_satisfied_neighborhood,q06a_city_services,q06b_cost_housing,q06c_quality_schools,q06d_trust_police,q06e_sidewalks,...,d01_gender_Male,d01_gender_No Answer,d01_gender_Non-binary,d06_housing_status_Other,d06_housing_status_Own,d06_housing_status_Rent,q05_city_direction_no_answer,q05_city_direction_right,q05_city_direction_unsure,q05_city_direction_wrong
d07_plan_to_move,,,,,,,,,,,,,,,,,,,,,
0.0,967,952,951,955,955,950,948,770,936,955,...,967,967,967,967,967,967,967,967,967,967
1.0,430,425,424,426,426,428,428,313,412,427,...,430,430,430,430,430,430,430,430,430,430